@import "./base.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.navbar-item {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider hr {
  border: none;
  height: 4px;
  width: 100px;
}

.divider .divider-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.divider .divider-icon i {
  font-size: 32px;
}
